/* header  */
.header {
    background-color: aqua;
}

.text {
    max-width: 500px;
}

.pic {
    margin-right: 15%;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary {
    border-radius: 5px;
    background: floralwhite;
    border: 0;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
}

.banner-greeting {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.banner-d {
    margin-top: 5px;
    margin-bottom: 20px;
}
/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
}

.head {
    text-align: center;
}

.lecture {
    padding: 10px 100px;
    text-align: center;
}

.picture {
    display: flex;
    
   
}

.skill {
    padding: 10px;
}

.image {
    width: 350px;
    border-radius: 180px 180px 0px 0px;
}

/* deal section */

.sale {
    text-align: center;
}

.sale-up {
    background-color: blue;
    margin-top: 115px;
}

.red {
    color: red;
}

/* insta section */
.insta {
    padding: 130px;
    border-radius: 10px;
}

.textarea {
    text-align: center;
}

.lecture {
    padding: 10px 100px;
}

.picture {
    display: flex;
    margin-right: 2px;
   
}

.skill {
    padding: 10px;
}

.img {
    width: 250px;
}
/* send message */
.email{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    padding: 100px 100px 50px 50px;
    width: 800px;
    margin-bottom: 50px;
    margin-left: 200px;
}
.msg{
    text-align: center;
}
.contact input{
    margin-bottom: 25px;
    padding: 18px 35px;
    color:red;
    border-radius: 5px;
    background: rebeccapurple;
    border: 0;
    text-decoration: double;
}

/* footer section */
footer{
    display: flex;
    padding: 70px 200px;
    background: black;
}
.foo{
    padding-top: 20px;
    padding-bottom: 50px;
}
.footer-text{
    padding: 30px 0 0 0;
    text-align: center;
    color: white;
}
.span{
    color: yellow;
}
.p-text{
    text-align: center;
    color: white;
    padding: 0 0 0 30px;
}
.muted{
    color: gray;
    text-align: center;
}